{% extends 'base.html' %}
{#{% block nav_aboutUs %}active{% endblock nav_aboutUs%}#}
{% block content -%}
  <div class="section-wrapper">
    <div class="move-wrapper">
    
      <!-- start about page -->
      <section class="inner-banner" id="top">
        <div class="w-container fixed-container">
          <div class="algin-center">
            <h1 class="inner-sub" data-ix="move-3"><span class="domote">Gogole.</span>&nbsp;About Us</h1>
            <div class="tst-txt tst-ban" data-ix="move-3">Let me introduce my Gogole team.</div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="w-container">
          <div>
            <h4>Our Lovely Team</h4>
            <div class="line-con"></div>
          </div>
          <div>
            <div class="w-row row-cn">
                {% for m in model %}
              <div class="w-col w-col-13">
                <a class="w-inline-block" href="#">
                    <img src="{{ url_for('static', filename = m.photoUrl) }}" alt={{ m.photoUrl }} width="180px">
                </a>
                <div class="team-wrapper">
                  <h4 class="icobox-tittle">{{ m.name }}</h4>
                  <div class="step-sub-t"><span class="gray">{{ m.role }}</span>
                  </div>
                  <p>{{ m.etc }}</p>
                  <div class="div-p">
                    <a class="w-inline-block social soc-team" href="#">
                      <i class="fa fa-facebook-square fa-2x"></i>
                    </a>
                    <a class="w-inline-block social soc-team" href="#">
                      <i class="fa fa-twitter-square fa-2x"></i>
                    </a>
                    <a class="w-inline-block social soc-team" href="#">
                      <i class="fa fa-pinterest-square fa-2x"></i>
                    </a>
                    <a class="w-inline-block social soc-team" href="#">
                      <i class="fa fa-vimeo-square fa-2x"></i>
                    </a>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div><!-- end about page -->
{%- endblock content %}