{% extends 'base.html' %}
{#{% block nav_elements %}active{% endblock nav_elements%}#}
{% block content -%}
  <div class="section-wrapper">
    <div class="move-wrapper">
        
      <!-- start element page -->
      <section class="inner-banner" id="top">
        <div class="w-container fixed-container">
          <div class="algin-center">
            <h1 class="inner-sub" data-ix="move-3"><span class="domote">Flying.</span> Common Elements</h1>
            <div class="tst-txt tst-ban" data-ix="move-3">Well crafted elements</div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-container">
          <div>
            <h4>Top Horizontal Tabs</h4>
            <div class="line-con"></div>
          </div>
          <div>
            <div class="w-tabs" data-duration-in="300" data-duration-out="100">
              <div class="w-tab-menu">
                <a class="w-tab-link w--current w-inline-block tab-v" data-w-tab="Tab 1">
                  <div>Tab 1</div>
                </a>
                <a class="w-tab-link w-inline-block tab-v" data-w-tab="Tab 2">
                  <div>Tab 2</div>
                </a>
                <a class="w-tab-link w-inline-block tab-v" data-w-tab="Tab 3">
                  <div>Tab 3</div>
                </a>
              </div>
              <div class="w-tab-content tab-con">
                <div class="w-tab-pane w--tab-active" data-w-tab="Tab 1">
                  <div>
                    <h4 class="tab-h">Dummy Text</h4>
                    <p>Donec posuere vulputate arcu. Praesent nec nisl a purus blandit viverra. Maecenas malesuada. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede.
                      <br>
                      <br>Praesent ac massa at ligula laoreet iaculis. Maecenas egestas arcu quis ligula mattis placerat. Praesent ac sem eget est egestas volutpat. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc.</p>
                    <div class="btn-spc"><a class="button btn-medium" href="#">See more</a>
                    </div>
                  </div>
                </div>
                <div class="w-tab-pane" data-w-tab="Tab 2">
                  <div>
                    <div class="w-row">
                      <div class="w-col w-col-5 w-clearfix">
                        <div class="mix mix-3 remove-mx" data-ix="hover-port"><a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Contact UI</h4><div class="sub-text" data-ix="move-up-2">Motion</div></a>
                          <div class="img-wrapper"><img src="{{ url_for('static', filename = 'images/port20.jpg') }}" alt="port20.jpg">
                          </div>
                        </div>
                      </div>
                      <div class="w-col w-col-7">
                        <h4 class="tab-h">Project Nr.4</h4>
                        <p>Pellentesque commodo eros a enim. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Curabitur blandit mollis lacus. Praesent venenatis metus at tortor pulvinar varius. Quisque malesuada placerat nisl.
                          <br>
                          <br>Nam at tortor in tellus interdum sagittis. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Sed libero. Ut tincidunt tincidunt erat.</p>
                        <div class="btn-spc"><a class="button btn-color-dark btn-small" href="#">View project</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-tab-pane" data-w-tab="Tab 3">
                  <div>
                    <div class="w-row">
                      <div class="w-col w-col-6">
                        <h4 class="tab-h">1/2 Column</h4>
                        <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Aenean ut eros et nisl sagittis vestibulum. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis.
                          <br>
                          <br>Ut non enim eleifend felis pretium feugiat. Pellentesque dapibus hendrerit tortor. Nam commodo suscipit quam. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede.</p>
                      </div>
                      <div class="w-col w-col-6">
                        <h4 class="tab-h">1/2 Column</h4>
                        <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Aenean ut eros et nisl sagittis vestibulum. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis.
                          <br>
                          <br>Ut non enim eleifend felis pretium feugiat. Pellentesque dapibus hendrerit tortor. Nam commodo suscipit quam. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Left Vertical Tabs<span class="ex-sp"></span></h4>
            <div class="line-con"></div>
          </div>
          <div>
            <div class="w-tabs" data-duration-in="300" data-duration-out="100">
              <div class="w-tab-menu tab-menu">
                <a class="w-tab-link w-clearfix w-inline-block tab-v tab-v2" data-w-tab="Tab 1">
                  <div class="tab-text">Tab 1</div>
                </a>
                <a class="w-tab-link w--current w-inline-block tab-v tab-v2" data-w-tab="Tab 2">
                  <div>Tab 2</div>
                </a>
                <a class="w-tab-link w-clearfix w-inline-block tab-v tab-v2" data-w-tab="Tab 3">
                  <div class="tab-text">Tab 3</div>
                </a>
              </div>
              <div class="w-tab-content tab-con con-v">
                <div class="w-tab-pane" data-w-tab="Tab 1">
                  <div>
                    <h4 class="tab-h">Dummy Text</h4>
                    <p>In hac habitasse platea dictumst. Sed cursus turpis vitae tortor. Quisque id mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur ullamcorper ultricies nisi.
                      <br>
                      <br>Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. Aliquam lobortis. Vestibulum eu odio. Vivamus aliquet elit ac nisl. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                      <br>
                      <br>Proin pretium, leo ac pellentesque mollis, felis nunc ultrices eros, sed gravida augue augue mollis justo. Maecenas egestas arcu quis ligula mattis placerat. Cras dapibus. Nam at tortor in tellus interdum sagittis. Suspendisse eu ligula.</p>
                    <div class="btn-spc"><a class="button btn-medium" href="#">See more</a>
                    </div>
                  </div>
                </div>
                <div class="w-tab-pane w--tab-active" data-w-tab="Tab 2">
                  <div>
                    <div class="w-row">
                      <div class="w-col w-col-5 w-clearfix div-spc">
                        <div class="mix mix-3 remove-mx" data-ix="hover-port"><a class="w-inline-block tittle-wrapper" href="#"><h4 class="text-port" data-ix="move-up">Black Nike</h4><div class="sub-text" data-ix="move-up-2">Motion &amp; Illustration</div></a>
                          <div class="img-wrapper"><img src="{{ url_for('static', filename = 'images/port9.jpg') }}" alt="port9.jpg">
                          </div>
                        </div>
                      </div>
                      <div class="w-col w-col-7">
                        <h4 class="tab-h">Project Nr.13</h4>
                        <p>Pellentesque commodo eros a enim. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Curabitur blandit mollis lacus. Praesent venenatis metus at tortor pulvinar varius. Quisque malesuada placerat nisl.
                          <br>
                          <br>Nam at tortor in tellus interdum sagittis. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Sed libero. Ut tincidunt tincidunt erat.</p>
                        <div class="btn-spc"><a class="button btn-color btn-small" href="#">Launch project</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-tab-pane" data-w-tab="Tab 3">
                  <div>
                    <div class="w-row">
                      <div class="w-col w-col-6">
                        <h4 class="tab-h">1/2 Column</h4>
                        <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Aenean ut eros et nisl sagittis vestibulum. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis.
                          <br>
                          <br>Ut non enim eleifend felis pretium feugiat. Pellentesque dapibus hendrerit tortor. Nam commodo suscipit quam. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede.</p>
                      </div>
                      <div class="w-col w-col-6">
                        <h4 class="tab-h">1/2 Column</h4>
                        <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Aenean ut eros et nisl sagittis vestibulum. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis.
                          <br>
                          <br>Ut non enim eleifend felis pretium feugiat. Pellentesque dapibus hendrerit tortor. Nam commodo suscipit quam. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Slider Tab Example</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-9 div-spc rem-col">
              <div>
                <div class="w-tabs" data-duration-in="300" data-duration-out="100">
                  <div class="w-tab-content">
                    <div class="w-tab-pane w--tab-active" data-w-tab="Tab 2">
                      <div>
                          <img src="{{ url_for('static', filename = 'images/photo-tab1.jpg') }}" alt="photo-tab1.jpg">
                      </div>
                    </div>
                    <div class="w-tab-pane" data-w-tab="Tab 3">
                      <div>
                          <img src="{{ url_for('static', filename = 'images/photo-tab3.jpg') }}" alt="photo-tab3.jpg">
                        <div class="caption-t" data-ix="caption-tab">This is a caption!</div>
                      </div>
                    </div>
                    <div class="w-tab-pane" data-w-tab="Tab 4">
                      <div>
                          <img src="{{ url_for('static', filename = 'images/photo-tab4.jpg') }}" alt="photo-tab4.jpg">
                        <div class="caption-t cap-orange" data-ix="caption-tab">This is another orange caption!</div>
                      </div>
                    </div>
                    <div class="w-tab-pane" data-w-tab="Tab 5">
                      <div>
                          <img src="{{ url_for('static', filename = 'images/photo-tab5.jpg') }}" alt="photo-tab5.jpg">
                      </div>
                    </div>
                    <div class="w-tab-pane" data-w-tab="Tab 1">
                      <div><a class="caption-t cap-link" href="#">This is a caption with link!</a>
                          <img src="{{ url_for('static', filename = 'images/photo-tab2.jpg') }}" alt="photo-tab2.jpg">
                      </div>
                    </div>
                  </div>
                  <div class="w-tab-menu w-clearfix">
                    <a class="w-tab-link w--current w-inline-block slider-tab ph-1" data-w-tab="Tab 2"></a>
                    <a class="w-tab-link w-inline-block slider-tab ph-3" data-w-tab="Tab 3"></a>
                    <a class="w-tab-link w-inline-block slider-tab ph-4" data-w-tab="Tab 4"></a>
                    <a class="w-tab-link w-inline-block slider-tab ph-5" data-w-tab="Tab 5"></a>
                    <a class="w-tab-link w-inline-block slider-tab ph-2" data-w-tab="Tab 1"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-3">
              <h4 class="tab-h">This is a tab slider!</h4>
              <p>Pellentesque commodo eros a enim. Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Curabitur blandit mollis lacus. Praesent venenatis metus at tortor pulvinar varius. Quisque malesuada placerat nisl.
                <br>
                <br>Nam at tortor in tellus interdum sagittis. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Sed libero. Ut tincidunt tincidunt erat.</p>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Different Buttons</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-3">
              <div class="btn-spc"><a class="button" href="#">large button</a>
              </div>
              <div class="btn-spc"><a class="button btn-medium" href="#">medium button</a>
              </div>
              <div class="btn-spc"><a class="button btn-small" href="#">small button</a>
              </div>
            </div>
            <div class="w-col w-col-3">
              <div class="btn-spc"><a class="button btn-color" href="#">large button</a>
              </div>
              <div class="btn-spc"><a class="button btn-color btn-medium" href="#">medium button</a>
              </div>
              <div class="btn-spc"><a class="button btn-color btn-small" href="#">small button</a>
              </div>
            </div>
            <div class="w-col w-col-3">
              <div class="btn-spc"><a class="button btn-line" href="#">large button</a>
              </div>
              <div class="btn-spc"><a class="button btn-line btn-medium" href="#">medium button</a>
              </div>
              <div class="btn-spc"><a class="button btn-line btn-small" href="#">small button</a>
              </div>
            </div>
            <div class="w-col w-col-3">
              <div class="btn-spc"><a class="button btn-color-dark" href="#">large button</a>
              </div>
              <div class="btn-spc"><a class="button btn-color-dark btn-medium" href="#">medium button</a>
              </div>
              <div class="btn-spc"><a class="button btn-color-dark btn-small" href="#">small button</a>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Full Width Button</h4>
            <div class="line-con"></div>
          </div>
          <div class="btn-spc"><a class="button btn-full" href="#">full width button</a>
          </div>
          <div class="btn-spc"><a class="button btn-color btn-full" href="#">Full Width Button</a>
          </div>
          <div class="btn-spc"><a class="button btn-color-dark btn-full" href="#">Full Width Button</a>
          </div>
          <div class="btn-spc"><a class="button btn-line btn-full" href="#">Full Width Button</a>
          </div>
          <div class="mrg-top">
            <h4>Icon Boxes</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4 w-clearfix div-spc">
              <div class="ibox-flo">
                <a class="w-inline-block circle-iconbox" href="#">
                  <i class="fa fa-paint-brush fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox">
                <h4 class="icobox-tittle">User Experience</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4 w-clearfix div-spc">
              <div class="ibox-flo">
                <a class="w-inline-block circle-iconbox" href="#">
                  <i class="fa fa-flask fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox">
                <h4 class="icobox-tittle">Technology</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4 w-clearfix">
              <div class="ibox-flo">
                <a class="w-inline-block circle-iconbox" href="#">
                  <i class="fa fa-magic fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox">
                <h4 class="icobox-tittle">Graphic Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
          </div>
          <div class="w-row row-space">
            <div class="w-col w-col-4 w-clearfix div-spc">
              <div class="ibox-flo">
                <a class="w-inline-block circle-iconbox ibox-c-line square-ibox" href="#">
                  <i class="fa fa-leaf fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox">
                <h4 class="icobox-tittle">Pixel Perfect Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4 w-clearfix div-spc">
              <div class="ibox-flo">
                <a class="w-inline-block circle-iconbox ibox-c-line square-ibox" href="#">
                  <i class="fa fa-eye fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox">
                <h4 class="icobox-tittle">Retina Ready</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4 w-clearfix">
              <div class="ibox-flo">
                <a class="w-inline-block circle-iconbox ibox-c-line square-ibox" href="#">
                  <i class="fa fa-gear fa-spin fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox">
                <h4 class="icobox-tittle">Clean Modern Code</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
          </div>
          <div class="w-row row-space">
            <div class="w-col w-col-4 w-clearfix div-spc">
              <div class="ibox-flo">
                <a class="w-inline-block circle-iconbox ibox-c-color tri-ibox" href="#">
                  <i class="fa fa-desktop fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox">
                <h4 class="icobox-tittle">Responsive Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4 w-clearfix div-spc">
              <div class="ibox-flo">
                <a class="w-inline-block circle-iconbox ibox-c-color tri-ibox" href="#">
                  <i class="fa fa-rocket fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox">
                <h4 class="icobox-tittle">Loaded With Power</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4 w-clearfix">
              <div class="ibox-flo">
                <a class="w-inline-block circle-iconbox ibox-c-color tri-ibox" href="#">
                  <i class="fa fa-life-ring fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox">
                <h4 class="icobox-tittle">Completely Customizable</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Center Icon Boxes</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4 div-spc">
              <div class="ibox-flo ibox-center">
                <a class="w-inline-block circle-iconbox square-ibox" href="#">
                  <i class="fa fa-paint-brush fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox centertext-iconbox">
                <h4 class="icobox-tittle">User Experience</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4 div-spc">
              <div class="ibox-flo ibox-center">
                <a class="w-inline-block circle-iconbox square-ibox ibox-c-line" href="#">
                  <i class="fa fa-gear fa-spin fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox centertext-iconbox">
                <h4 class="icobox-tittle">Clean Modern Code</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="ibox-flo ibox-center">
                <a class="w-inline-block circle-iconbox square-ibox ibox-c-color" href="#">
                  <i class="fa fa-desktop fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox centertext-iconbox">
                <h4 class="icobox-tittle">Responsive Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
          </div>
          <div class="w-row row-space">
            <div class="w-col w-col-4 div-spc">
              <div class="ibox-flo ibox-center">
                <a class="w-inline-block circle-iconbox" href="#">
                  <i class="fa fa-leaf fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox centertext-iconbox">
                <h4 class="icobox-tittle">Pixel Perfect Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4 div-spc">
              <div class="ibox-flo ibox-center">
                <a class="w-inline-block circle-iconbox ibox-c-line" href="#">
                  <i class="fa fa-life-ring fa-spin fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox centertext-iconbox">
                <h4 class="icobox-tittle">Completely Customizable</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="ibox-flo ibox-center">
                <a class="w-inline-block circle-iconbox ibox-c-color" href="#">
                  <i class="fa fa-rocket fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox centertext-iconbox">
                <h4 class="icobox-tittle">Loaded With Power</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
          </div>
          <div class="w-row row-space">
            <div class="w-col w-col-4 div-spc">
              <div class="ibox-flo ibox-center">
                <a class="w-inline-block circle-iconbox tri-ibox" href="#">
                  <i class="fa fa-flask fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox centertext-iconbox">
                <h4 class="icobox-tittle">Technology</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4 div-spc">
              <div class="ibox-flo ibox-center">
                <a class="w-inline-block circle-iconbox ibox-c-line tri-ibox" href="#">
                  <i class="fa fa-refresh fa-spin fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox centertext-iconbox">
                <h4 class="icobox-tittle">Retina Ready</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
            <div class="w-col w-col-4">
              <div class="ibox-flo ibox-center">
                <a class="w-inline-block circle-iconbox ibox-c-color tri-ibox" href="#">
                  <i class="fa fa-magic fa-2x"></i>
                </a>
              </div>
              <div class="lefttext-icobox centertext-iconbox">
                <h4 class="icobox-tittle">Graphic Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Carousels Icon Boxes</h4>
            <div class="line-con"></div>
          </div>
          <div>
            <div class="w-slider carousel-ibox" data-animation="slide" data-duration="500" data-infinite="1" data-ix="show-arrow">
              <div class="w-slider-mask">
                <div class="w-slide">
                  <div class="w-row">
                    <div class="w-col w-col-4 div-spc">
                      <div class="ibox-flo ibox-center">
                        <a class="w-inline-block circle-iconbox" href="#">
                          <i class="fa fa-paint-brush fa-2x"></i>
                        </a>
                      </div>
                      <div class="lefttext-icobox centertext-iconbox">
                        <h4 class="icobox-tittle">User Experience</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                      </div>
                    </div>
                    <div class="w-col w-col-4 div-spc">
                      <div class="ibox-flo ibox-center">
                        <a class="w-inline-block circle-iconbox" href="#">
                          <i class="fa fa-gear fa-spin fa-2x"></i>
                        </a>
                      </div>
                      <div class="lefttext-icobox centertext-iconbox">
                        <h4 class="icobox-tittle">Clean Modern Code</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                      </div>
                    </div>
                    <div class="w-col w-col-4">
                      <div class="ibox-flo ibox-center">
                        <a class="w-inline-block circle-iconbox" href="#">
                          <i class="fa fa-rocket fa-2x"></i>
                        </a>
                      </div>
                      <div class="lefttext-icobox centertext-iconbox">
                        <h4 class="icobox-tittle">Loaded With Power</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-slide">
                  <div class="w-row">
                    <div class="w-col w-col-4">
                      <div class="ibox-flo ibox-center">
                        <a class="w-inline-block circle-iconbox ibox-c-color square-ibox" href="#">
                          <i class="fa fa-paint-brush fa-2x"></i>
                        </a>
                      </div>
                      <div class="lefttext-icobox centertext-iconbox">
                        <h4 class="icobox-tittle">User Experience</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                      </div>
                    </div>
                    <div class="w-col w-col-4">
                      <div class="ibox-flo ibox-center">
                        <a class="w-inline-block circle-iconbox ibox-c-color square-ibox" href="#">
                          <i class="fa fa-gear fa-spin fa-2x"></i>
                        </a>
                      </div>
                      <div class="lefttext-icobox centertext-iconbox">
                        <h4 class="icobox-tittle">Clean Modern Code</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                      </div>
                    </div>
                    <div class="w-col w-col-4">
                      <div class="ibox-flo ibox-center">
                        <a class="w-inline-block circle-iconbox ibox-c-color square-ibox" href="#">
                          <i class="fa fa-rocket fa-2x"></i>
                        </a>
                      </div>
                      <div class="lefttext-icobox centertext-iconbox">
                        <h4 class="icobox-tittle">Loaded With Power</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-slide">
                  <div class="w-row">
                    <div class="w-col w-col-4">
                      <div class="ibox-flo ibox-center">
                        <a class="w-inline-block circle-iconbox ibox-c-line tri-ibox" href="#">
                          <i class="fa fa-paint-brush fa-2x"></i>
                        </a>
                      </div>
                      <div class="lefttext-icobox centertext-iconbox">
                        <h4 class="icobox-tittle">User Experience</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                      </div>
                    </div>
                    <div class="w-col w-col-4">
                      <div class="ibox-flo ibox-center">
                        <a class="w-inline-block circle-iconbox ibox-c-line tri-ibox" href="#">
                          <i class="fa fa-gear fa-spin fa-2x"></i>
                        </a>
                      </div>
                      <div class="lefttext-icobox centertext-iconbox">
                        <h4 class="icobox-tittle">Clean Modern Code</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                      </div>
                    </div>
                    <div class="w-col w-col-4">
                      <div class="ibox-flo ibox-center">
                        <a class="w-inline-block circle-iconbox ibox-c-line tri-ibox" href="#">
                          <i class="fa fa-rocket fa-2x"></i>
                        </a>
                      </div>
                      <div class="lefttext-icobox centertext-iconbox">
                        <h4 class="icobox-tittle">Loaded With Power</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-slider-arrow-left ibox-arrow arr_2">
                <div class="w-icon-slider-left arrow-crs" data-ix="move-arrow-2"></div>
              </div>
              <div class="w-slider-arrow-right ibox-arrow">
                <div class="w-icon-slider-right arrow-crs"></div>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Progress Bar</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-6">
              <ul class="w-list-unstyled">
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">Graphic Design<span class="pbar-percent">83%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay" data-ix="progress-bar"></div>
                  </div>
                </li>
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">Web Design<span class="pbar-percent">58%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay-2" data-ix="progress-bar-2"></div>
                  </div>
                </li>
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">Identity<span class="pbar-percent">78%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay-3" data-ix="progress-bar-3"></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="w-col w-col-6">
              <ul class="w-list-unstyled">
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">Finished Projects<span class="pbar-percent">100%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay-4" data-ix="progress-bar-4"></div>
                  </div>
                </li>
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">Logo Design<span class="pbar-percent">32%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay-5" data-ix="progress-bar-5"></div>
                  </div>
                </li>
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">Awards So Far<span class="pbar-percent">96%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay-6" data-ix="progress-bar-6"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Process</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-3 div-spc">
              <div class="process-ico">
                <i class="fa fa-search fa-3x"></i>
              </div>
              <div class="step-sub-t">Step 1</div>
              <h4 class="icobox-tittle">Research</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="process-ico">
                <i class="fa fa-magic fa-3x"></i>
              </div>
              <div class="step-sub-t">Step 2</div>
              <h4 class="icobox-tittle">Concept</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="process-ico">
                <i class="fa fa-paint-brush fa-3x"></i>
              </div>
              <div class="step-sub-t">Step 3</div>
              <h4 class="icobox-tittle">Sketch</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
            </div>
            <div class="w-col w-col-3">
              <div class="process-ico">
                <i class="fa fa-thumbs-o-up fa-3x"></i>
              </div>
              <div class="step-sub-t">Step 4</div>
              <h4 class="icobox-tittle">Create</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Call To Action</h4>
            <div class="line-con"></div>
          </div>
          <div class="call-to-action cta-gray">
            <div class="w-container">
              <div class="w-row">
                <div class="w-col w-col-9">
                  <div class="cta-txt">Love many things, for therein lies the true strength, and whosoever loves much?</div>
                </div>
                <div class="w-col w-col-3 cnt-col"><a class="button btn-small btn-gray-txt" href="#">check it out</a>
                </div>
              </div>
            </div>
          </div>
          <div class="call-to-action">
            <div class="w-container">
              <div class="w-row">
                <div class="w-col w-col-9">
                  <div class="cta-txt">Love many things, for therein lies the true strength, and whosoever loves much?</div>
                </div>
                <div class="w-col w-col-3 cnt-col"><a class="button btn-small btn-gray-txt" href="#">check it out</a>
                </div>
              </div>
            </div>
          </div>
          <div class="call-to-action cta-dark">
            <div class="w-container">
              <div class="w-row">
                <div class="w-col w-col-9">
                  <div class="cta-txt">Love many things, for therein lies the true strength, and whosoever loves much?</div>
                </div>
                <div class="w-col w-col-3 cnt-col"><a class="button btn-small btn-white" href="#">check it out</a>
                </div>
              </div>
            </div>
          </div>
          <div class="call-to-action cta-main">
            <div class="w-container">
              <div class="w-row">
                <div class="w-col w-col-9">
                  <div class="cta-txt">Love many things, for therein lies the true strength, and whosoever loves much?</div>
                </div>
                <div class="w-col w-col-3 cnt-col"><a class="button btn-small btn-white" href="#">check it out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-container">
          <div class="mrg-top">
            <h4>Alert Boxes</h4>
            <div class="line-con"></div>
          </div>
          <div class="alert">
            <div class="alert-txt"><strong>This is for your notice!&nbsp;</strong>This is the default alert shortcode</div>
          </div>
          <div class="alert alert-info">
            <div class="alert-txt"><strong>Information!</strong> This is the information alert box</div>
          </div>
          <div class="alert alert-success">
            <div class="alert-txt"><strong>Success!&nbsp;</strong>This is a success alert box</div>
          </div>
          <div class="alert alert-error">
            <div class="alert-txt"><strong>Error!</strong>&nbsp;This is an error alert box</div>
          </div>
          <div class="mrg-top">
            <h4>Clients&nbsp;Carousels</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-slider carousel-ibox c-clients" data-animation="slide" data-duration="800" data-infinite="1" data-ix="show-arrow" data-delay="6000" data-autoplay="1">
            <div class="w-slider-mask">
              <div class="w-slide w-clearfix">
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/buddy.png') }}" alt="buddy.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/barq.png') }}" alt="barq.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/tex.png') }}" alt="tex.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/marketi.png') }}" alt="marketi.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/mohula.png') }}" alt="mohula.png">
                </a>
              </div>
              <div class="w-slide w-clearfix">
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/apps.png') }}" alt="apps.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/smack.png') }}" alt="smack.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/tex.png') }}" alt="tex.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/mohula.png') }}" alt="mohula.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/barq.png') }}" alt="barq.png">
                </a>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Testimonials&nbsp;Carousels</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-slider carousel-ibox" data-animation="cross" data-duration="500" data-infinite="1">
            <div class="w-slider-mask">
              <div class="w-slide">
                <div class="test-wrapper">
                  <div class="tst-ico">
                    <i class="fa fa-comment fa-3x"></i>
                  </div>
                  <div class="tst-txt">Pellentesque commodo eros a enim. Fusce ac felis sit amet ligula pharetra condimentum. Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. Pellentesque dapibus hendrerit tortor. Fusce ac felis sit amet ligula pharetra condimentum.</div>
                  <h4>Kiku Gojorja</h4>
                </div>
              </div>
              <div class="w-slide">
                <div class="test-wrapper">
                  <div class="tst-ico">
                    <i class="fa fa-comment fa-3x"></i>
                  </div>
                  <div class="tst-txt">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Ut varius tincidunt libero. Vestibulum volutpat pretium libero.</div>
                  <h4>Kiku Suma</h4>
                </div>
              </div>
              <div class="w-slide">
                <div class="test-wrapper">
                  <div class="tst-ico">
                    <i class="fa fa-comment fa-3x"></i>
                  </div>
                  <div class="tst-txt">Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Fusce risus nisl, viverra et, tempor et.</div>
                  <h4>Kiku Qirja</h4>
                </div>
              </div>
              <div class="w-slide">
                <div class="test-wrapper">
                  <div class="tst-ico">
                    <i class="fa fa-comment fa-3x"></i>
                  </div>
                  <div class="tst-txt">Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Fusce fermentum. Etiam sit amet orci eget eros faucibus tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque ut neque.</div>
                  <h4>Kiku Fyti</h4>
                </div>
              </div>
            </div>
            <div class="w-slider-nav w-slider-nav-invert w-round crs-dot"></div>
          </div>
          <div class="mrg-top">
            <h4>Counters</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row coun-wrapper">
            <div class="w-col w-col-3 div-spc">
              <div class="con-ico">
                <i class="fa fa-users fa-4x"></i>
              </div>
              <h1>1567</h1>
              <p>Client Served</p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="con-ico">
                <i class="fa fa-code fa-4x"></i>
              </div>
              <h1>96842</h1>
              <p>Lines of Code</p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="con-ico">
                <i class="fa fa-briefcase fa-4x"></i>
              </div>
              <h1>3164</h1>
              <p>No. of Projects</p>
            </div>
            <div class="w-col w-col-3">
              <div class="con-ico">
                <i class="fa fa-coffee fa-4x"></i>
              </div>
              <h1>674</h1>
              <p>Cups of Coffee</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div><!-- end element page -->
    {% include 'services.html' %}
    {% include 'typography.html' %}
{%- endblock content %}