{% extends 'base.html' %}
{% block scripts %}
  <script>

    function readMore(num) {
        a=$("#post"+num).text();
        if(a=="Read More ›"){
            $("#content"+num).removeClass("short_text");
            $("#post"+num).text("brief ›");
        }

        if(a=="brief ›"){
            $("#content"+num).addClass("short_text");
            $("#post"+num).text("Read More ›");
        }
    }

  </script>
{% endblock scripts %}
{% block content -%}
    {% include 'filter.html' %}
  <div class="section-wrapper">
    <div class="move-wrapper">

      <!-- start blog page -->
      <section class="section s-b">
        <div class="w-row">
        {% set m=model %}
        {% set s=sims %}
            {% for x in range(4) %}
              <div class="w-col w-col-3 w-col-stack col-m2"> <!--1 : 0~2-->
                {% for num in range(3) %}
                    <div class="blog-p">
                      <div class="post" align="center">
                        <a class="w-inline-block" href="javascript:void(window.open('{{m[x+(4*num)].link}}', '_blank'))">
                            <img src={{m[x+(4*num)].image_link}} alt="blog1.jpg" width="100%" height="100%">
                        </a>
                      </div>
                      <div class="bcon-wrapper">
                        <h4>
{#                            <span class="dropcast drp-circle">{{"{:.1%}".format(s[x+(4*num)])}}</span>#}
                            <a href="single-blog.html" class="h-link">{{m[x+(4*num)].exhbn_title}}</a>
                        </h4>
                        <div>
                          <div class="meta-tag">
                              <a class="w-inline-block post-link" href="javascript:void(window.open('http://{{m[x+(4*num)].homepage}}', '_blank'))">
                                <span class="highlights">artist : {{m[x+(4*num)].homepage}}({{m[x+(4*num)].contect}})</span>
                              </a>
                          </div>
                          <div class="blog-l"></div>
                        </div>
                          <p id='content{{x+(4*num)}}' class="ellipsis_multi short_text">{{m[x+(4*num)].text_content}}
                            <p class="ellipsis_multi">By&nbsp;{{m[x+(3*num)].exhbn_artist}}</p>
                          </p>
                          <div class="post-more">
                            <a id="post{{x+(4*num)}}" class="post-link" onclick="readMore('{{x+(4*num)}}')">Read More ›</a>
                          </div>
                      </div>
                    </div>
                {% endfor %}
              </div>
            {% endfor %}
        </div>
      </section>
    </div>
  </div><!-- end blog page -->
{%- endblock content %}