{% extends 'base.html' %}

{% block content -%}
  <div class="section-wrapper">
    <div class="move-wrapper">

      <!-- start gallery page -->
      <div class="w-row">
        <div class="w-col w-col-4 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">love design</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Todd Quackenbush</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light1.jpg') }}" alt="light1.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "image",
                      "url": "https://daks2k3a4ib2z.cloudfront.net/5484729a8088a52a27608d60/54b2bccefd1016be5d473acf_light1.jpg",
                      "width": 800,
                      "height": 800
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
        <div class="w-col w-col-4 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">Fashion</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Monstruo Estudio</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light2.jpg') }}" alt="light2.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "image",
                      "url": "https://daks2k3a4ib2z.cloudfront.net/5484729a8088a52a27608d60/54b2bce6fd1016be5d473ad0_light2.jpg",
                      "width": 800,
                      "height": 800
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
        <div class="w-col w-col-4 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">Just different</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Bethany Legg</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light3.jpg') }}" alt="light3.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "image",
                      "url": "https://daks2k3a4ib2z.cloudfront.net/5484729a8088a52a27608d60/54b2bcf0844ee8bd5d51a463_light3.jpg",
                      "width": 800,
                      "height": 800
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-3 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">Work Space</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Liane Metzler</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light4.jpg') }}" alt="light4.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "image",
                      "url": "https://daks2k3a4ib2z.cloudfront.net/5484729a8088a52a27608d60/54b3f58db936169d36228d06_light4.jpg",
                      "width": 800,
                      "height": 800
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
        <div class="w-col w-col-3 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">Photographer</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Christopher Skor</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light5.jpg') }}" alt="light5.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "image",
                      "url": "https://daks2k3a4ib2z.cloudfront.net/5484729a8088a52a27608d60/54b3f5c33fcaea9b3634f416_light5.jpg",
                      "width": 800,
                      "height": 800
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
        <div class="w-col w-col-3 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">Urban</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Steven Lewis</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light6.jpg') }}" alt="light6.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "image",
                      "url": "https://daks2k3a4ib2z.cloudfront.net/5484729a8088a52a27608d60/54b3f5f1dab6b5db23c4c843_light6.jpg",
                      "width": 800,
                      "height": 800
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
        <div class="w-col w-col-3 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">Landscape</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Josefa Holland-Merten</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light7.jpg') }}" alt="light7.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "image",
                      "url": "https://daks2k3a4ib2z.cloudfront.net/5484729a8088a52a27608d60/54b3f98c3fcaea9b3634f465_light7.jpg",
                      "width": 800,
                      "height": 800
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-4 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">T-shirt</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Ryan Lum</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light8.jpg') }}" alt="light8.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "image",
                      "url": "https://daks2k3a4ib2z.cloudfront.net/5484729a8088a52a27608d60/54b3fa79dab6b5db23c4c98d_light8.jpg",
                      "width": 800,
                      "height": 800
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
        <div class="w-col w-col-4 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">old letter</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Griffin Keller</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light9.jpg') }}" alt="light9.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "image",
                      "url": "https://daks2k3a4ib2z.cloudfront.net/5484729a8088a52a27608d60/54b3fab23fcaea9b3634f480_light9.jpg",
                      "width": 800,
                      "height": 800
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
        <div class="w-col w-col-4 port-0">
          <div data-ix="g-hover">
            <a class="w-lightbox w-inline-block" href="#">
              <div class="gallery-overlay">
                <div class="gall-cnt">
                  <h3 class="g-sub" data-ix="gallery-move-up">Motion</h3>
                  <div class="sub-gall" data-ix="gallery-move-up-2">By&nbsp;Kimberly Richards</div>
                </div>
              </div>
                <img src="{{ url_for('static', filename = 'images/light10.jpg') }}" alt="light10.jpg">
              <script type="application/json" class="w-json">
                {
                  "items": [
                    {
                      "type": "video",
                      "thumbnailUrl": "https://i.embed.ly/1/image?url=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F501130728_1280.jpg&key=866738f8f18b4394a18e371517a66ae0",
                      "width": 1280,
                      "height": 720,
                      "html": "<iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F115189988%3Fautoplay%3D1&url=http%3A%2F%2Fvimeo.com%2F115189988&image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F501130728_1280.jpg&key=c4e54deccf4d4ec997a64902e9a30300&autoplay=1&type=text%2Fhtml&schema=vimeo\" width=\"1280\" height=\"720\" scrolling=\"no\" frameborder=\"0\" allowfullscreen></iframe>"
                    }
                  ],
                  "group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end gallery page -->
{%- endblock content %}