{% extends 'base.html' %}
{% block scripts %}

    <script>
        $(document).ready(function () {
            $('#list-autocomplete').autocomplete({
                source: {{ book_name_list|tojson }},
                messages: {
                    noResults: ''
                }
            });
        });

        (function (a) {
            a.fn.limitText = function (b) {
                var c = {length: 100, ellipsisText: "..."}, b = a.extend(c, b);
                return this.each(function (d, e) {
                    if (a(e).text().length > b.length) {
                        var f = a(e).text().substr(0, b.length);
                        for (d = f.length; d > 0; d--) {
                            if (f.charAt(d - 1) == " ") {
                                a(e).text(f + b.ellipsisText);
                                break
                            } else {
                                f = f.slice(0, f.length - 1)
                            }
                        }
                    }
                })
            }
        })(jQuery);
        $(function () {
            $('#book_content').limitText({length: 800, ellipsisText: '[...]'});
        });

        $(document).ready(function () {
            $('#word_cloud').click(function () {
                $("#word_cloud_img").toggle();
            });
        });

    </script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/demo.css">
    <link rel="stylesheet" href="/static/css/j-forms.css">

    <!-- Scripts -->
    <script src="/static/js/jquery.ui.min.js"></script>
{% endblock scripts %}
{% block content -%}
    {% include 'filter.html' %}
    <div class="section-wrapper">
        <div class="move-wrapper">
            <section class="w3-container w3-content w3-center w3-padding-64">
                <div class="w-container">
                    <div class="w-slider-mask">
                        <div class="w-slide" style="transform: translateX(0px); opacity: 1;">
                            <div class="test-wrapper">
                                <a href="{{ url_for('/') }}"><img src="{{ url_for('static', filename = 'images/gogole.png') }}" height="200px"></a>
                            </div>
                            <div class="test-wrapper">
                                <div class="tst-txt">도서 텍스트 기반 전시 검색 시스템</div>
                            </div>
                        </div>
                    </div>

                    <form action="" method="get" id="j-forms" novalidate>
                        <div style="padding-top: 20px;">
                            <div class="w-container">
                                <div class="w-col w-col-10">
                                    {% if book_name is string %}
                                        <input class="w-input blog-field" id="list-autocomplete" type="text"
                                               placeholder="{{ book_name }}" name="book_name">
                                    {% else %}
                                        <input class="w-input blog-field" id="list-autocomplete" type="text"
                                               placeholder="도서의 이름을 검색하시오. (ex) 앨리스 죽이기" name="book_name">
                                    {% endif %}
                                </div>
                                <div class="w-col w-col-2 cnt-col" style="text-align: center;">
                                    <button type="submit" class="button btn-line btn-small">검색</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

        {% if message %}
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width: 800px" id="band">
            <h3 class="w3-wide">{{ message }}</h3>
        </div>
        {% endif %}

            {% if book_name is string %}
                <section class="w3-container w3-content w3-center w3-padding-64">
                    <div class="w-container">
                        <div>
                            <div class="w-row">

                                <div class="w-col w-col-5 w-clearfix">
                                    <div class="mix mix-3 remove-mx">
                                        <div class="img-wrapper"><img src="{{ book_image }}" alt="{{ book_name }}"
                                                                      width="266px" height="400px">
                                        </div>
                                    </div>
                                </div>
                                <div class="w-col w-col-7">
                                    <h2 class="tab-h">{{ book_name }}</h2>
                                    <p id="book_content">{{ book_content }}</p>

                                    <div class="call-to-action book">
                                        <div class="w-container">
                                            <div class="w-row">
                                                <div class="w-col w-col-9">
                                                    <div class="cta-txt">텍스트의 빈출 단어로 워드 클라우드 생성하기</div>
                                                </div>
                                                <div class="w-col w-col-3 cnt-col">
                                                    <button type="submit" name="book_name"
                                                            class="button btn-small btn-gray-txt" id='word_cloud'>생성
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="call-to-action cta-gray" id="word_cloud_img" style="display: none; margin-top: 30px">
                                <div class="w-container">
                                    <div class="w-row">
                                        <img src="data:image/png;base64, {{ plot_url }}" width="100%">
                                    </div>
                                </div>
                            </div>
                            <form action="/exhbnRec", method="post">
                            <div class="btn-spc">
                                <input type="hidden" value="{{ book_name }}" name="title">
                                <input type="submit" class="button btn-color-dark btn-full" value="이 도서의 내용과 유사한 전시 찾기" style="width:100%; margin-top:50px;">
                            </div>
                            </form>
                        </div>
                    </div>
                </section>

            {% endif %}
{#            <section class="section">#}
{#                <div class="w-container">#}
{#                    <div>#}
{#                        <div class="line-con"></div>#}
{##}
{#                        <div class="w-slider carousel-ibox c-clients" data-animation="slide" data-duration="800"#}
{#                             data-infinite="1" data-ix="show-arrow" data-delay="6000" data-autoplay="1">#}
{#                            <div class="w-slider-mask">#}
{#                                <div class="w-slide w-clearfix">#}
{#                                    {% for each in best_seller.index[:5] %}#}
{#                                        <form method="get" class="j-forms" id="j-forms" novalidate>#}
{#                                            <a class="w-inline-block client-wraper">#}
{#                                                <button type="submit" name="book_name"#}
{#                                                        value="{{ best_seller.loc[each]['name'] }}"><img#}
{#                                                        src="{{ best_seller.loc[each].image }}"#}
{#                                                        alt="{{ best_seller.loc[each]['name'] }}" width="200px"#}
{#                                                        height="300px"></button>#}
{#                                            </a>#}
{#                                        </form>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                                <div class="w-slide w-clearfix">#}
{#                                    {% for each in best_seller.index[5:10] %}#}
{#                                        <form method="get" class="j-forms" id="j-forms" novalidate>#}
{#                                            <a class="w-inline-block client-wraper">#}
{#                                                <button type="submit" name="book_name"#}
{#                                                        value="{{ best_seller.loc[each]['name'] }}"><img#}
{#                                                        src="{{ best_seller.loc[each].image }}"#}
{#                                                        alt="{{ best_seller.loc[each]['name'] }}" width="200px"#}
{#                                                        height="300px"></button>#}
{#                                            </a>#}
{#                                        </form>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                                <div class="w-slide w-clearfix">#}
{#                                    {% for each in best_seller.index[10:15] %}#}
{#                                        <form method="get" class="j-forms" id="j-forms" novalidate>#}
{#                                            <a class="w-inline-block client-wraper">#}
{#                                                <button type="submit" name="book_name"#}
{#                                                        value="{{ best_seller.loc[each]['name'] }}"><img#}
{#                                                        src="{{ best_seller.loc[each].image }}"#}
{#                                                        alt="{{ best_seller.loc[each]['name'] }}" width="200px"#}
{#                                                        height="300px"></button>#}
{#                                            </a>#}
{#                                        </form>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                                <div class="w-slide w-clearfix">#}
{#                                    {% for each in best_seller.index[15:20] %}#}
{#                                        <form method="get" class="j-forms" id="j-forms" novalidate>#}
{#                                            <a class="w-inline-block client-wraper">#}
{#                                                <button type="submit" name="book_name"#}
{#                                                        value="{{ best_seller.loc[each]['name'] }}"><img#}
{#                                                        src="{{ best_seller.loc[each].image }}"#}
{#                                                        alt="{{ best_seller.loc[each]['name'] }}" width="200px"#}
{#                                                        height="300px"></button>#}
{#                                            </a>#}
{#                                        </form>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </section>#}
        </div>
    </div>
{%- endblock content %}