{% extends 'base.html' %}
{% block scripts %}
  <script>

    $(".art").click(function() {
        var selectId = $(this).attr("id");

        state=$("#"+selectId).hasClass("Red")

        if(state==false){
            $("#" + selectId).addClass("Red");
            $("input[name=" + selectId + "]").val(1);
            $("#" + selectId + " .left-star").css("color", "Red")
        }else{
            $("#"+selectId).removeClass("Red")
            $("input[name="+selectId+"]").val(0);
            $("#"+selectId+" .left-star").css("color","white")
        }
    });

    $('#formSend').click(function(){
            if($(".art").hasClass("Red")==false){
                alert("명화를 한개이상 선택해주십시오")
            }else{
                $('body').oLoader({
                  wholeWindow: true,
                  {#backgroundColor: "url('static/images/ownageLoader/mone.jpg') top center",#}
                  backgroundColor: "#2c3d47",
                  fadeLevel: 1,
                  fadeInTime: 4000,
                  image: 'static/images/ownageLoader/loader4.gif',
                  hideAfter: 1500
                });
                $("#formSend").submit()
            }
    });

  </script>
{% endblock scripts %}
{% block content -%}
  <div class="section-wrapper">
    <div class="move-wrapper">
        {% include 'filter.html' %}
      <!-- start portfolio -->
        <form action="{{ url_for('exhbnRec') }}" method="POST">
            <div class="w-clearfix grid" id="Grid">
              {% for num in famous_paint.index %}
                  <input type="hidden" name="{{ num }}" value="0"></input>
                  <div class="mix mix-5" data-ix="hover-port">
                      <a class="w-inline-block tittle-wrapper" >
                          <h4 class="text-port" data-ix="move-up">{{ famous_paint['title'][num] }}</h4>
                          <div class="sub-text" data-ix="move-up-2">{{ famous_paint['artist'][num] }}</div>
                      </a>
                  <div class="img-wrapper art" id="{{ num }}">
                      <img src="{{ famous_paint['image'][num] }}" alt="img_{{ num }}" class="artImg">
                    <div class="triangle">
                      <div class="left-star">
                        <i class="fa fa-star fa-2x"></i>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="call-to-action cta-gray">
                <div class="w-container">
                  <div class="w-row">
                    <div class="w-col w-col-9">
                      <div class="cta-txt">명화를 한개이상 선택하고 '전시추천'을 눌러주세요</div>
                    </div>
                    <div class="w-col w-col-3 cnt-col">
                        <button id="formSend" class="button btn-small btn-gray-txt">전시추천</button>
                    </div>
                  </div>
                </div>
            </div>
        </form>
  </div><!-- end portfolio -->
</div>

{%- endblock content %}