{% extends 'base.html' %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script>
    $( "#word_cloud_img" ).hide()

    $( "#autoText" ).autocomplete({
      source: {{ book_list|tojson }}
    });

   $("#post").click(function() {
        a=$("#post").text();
        if(a=="Read More ›"){
            $("#book_content").removeClass("short_text");
            $("#post").text("brief ›");
        }

        if(a=="brief ›"){
            $("#book_content").addClass("short_text");
            $("#post").text("Read More ›");
        }

    });

    $('#word_cloud').click(function () {
        $.ajax({
                type : "POST",
                url : "{{ url_for('load_ajax') }}",
                dataType: 'json',
                data: {book_name:$("#bn").text()},  //form values
                success:function(json) {
                    $('#plot_url').attr('src','data:image/png;base64,'+json.plot_url);
                    $( "#word_cloud_img" ).show()
                }
        });
    });

   </script>
{% endblock scripts %}

{%- block styles %}
    <link rel="stylesheet" href="/static/css/demo.css">
    <link rel="stylesheet" href="/static/css/j-forms.css">
{% endblock styles -%}

{% block content -%}
    {% include 'filter.html' %}
    <div class="section-wrapper">
        <div class="move-wrapper">
            <section class="w3-container w3-content w3-center w3-padding-64">
                <div class="w-container">
                    <div class="w-slider-mask">
                        <div class="w-slide" style="transform: translateX(0px); opacity: 1;">
                            <div class="test-wrapper">
                                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename = 'images/gogole.png') }}" height="200px"></a>
                            </div>
                            <div class="test-wrapper">
                                <div class="tst-txt">도서 텍스트 기반 전시 검색 시스템</div>
                            </div>
                        </div>
                    </div>
                <form action="{{ url_for('search') }}" method="get" id="j-forms">
                        <div style="padding-top: 20px;">
                            <div class="w-container">
                                <div class="w-col w-col-10">
                                    <input class="w-input blog-field" type="text" id="autoText" name="book_name"
                                           {% if book_name is string %}placeholder="{{ book_name }}"
                                           {% else %}placeholder="도서의 이름을 검색하시오. (ex) 앨리스 죽이기"
                                           {% endif %} >
                                </div>
                                <div class="w-col w-col-2 cnt-col" style="text-align: center;">
                                    <button type="submit" class="button btn-line btn-small">검색</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
    {% if book_name is string %}
        {% if book_info %}
                <section class="w3-container w3-content w3-center w3-padding-64">
                    <div class="w-container">
                        <div>
                            <div class="w-row">

                                <div class="w-col w-col-5 w-clearfix">
                                    <div class="mix mix-3 remove-mx">
                                        <div class="img-wrapper"><img src="{{ book_info.image }}" alt="{{ book_info.name }}" width="266px" height="400px"></div>
                                    </div>
                                </div>
                                <div class="w-col w-col-7">
                                    <h2 class="tab-h" id="bn">{{ book_info.name }}</h2>
                                    <p id='book_content' class="ellipsis_multi2 short_text">{{ book_info.text }}</p>
                                    <div class="post-more">
                                        <a id="post" class="post-link">Read More ›</a>
                                    </div>
                                    <div class="call-to-action book">
                                        <div class="w-container">
                                            <div class="w-row">
                                                <div class="w-col w-col-9">
                                                    <div class="cta-txt">텍스트의 빈출 단어로 워드 클라우드 생성하기</div>
                                                </div>
                                                <div class="w-col w-col-3 cnt-col">
                                                    <button type="submit" name="book_name"
                                                            class="button btn-small btn-gray-txt" id='word_cloud'>생성
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="call-to-action cta-gray" id="word_cloud_img" style="margin-top: 30px">
                                <div class="w-container">
                                    <div class="w-row">
                                        <img id="plot_url" src="" width="100%">
                                    </div>
                                </div>
                            </div>
                            <form action="{{ url_for('exhbnRec') }}" method="POST">
                            <div class="btn-spc">
                                <input type="hidden" value="{{ book_info.name }}" name="title">
                                <input type="submit" class="button btn-color-dark btn-full" value="이 도서의 내용과 유사한 전시 찾기" style="width:100%; margin-top:50px;">
                            </div>
                            </form>
                        </div>
                    </div>
                </section>
        {% else %}
                <section class="w3-container w3-content w3-center w3-padding-64">
                    <div class="w-container">
                        <h4>다음 도서를 검색할 수 없습니다 {{ book_name }}</h4>
                    </div>
                </section>
        {% endif %}
    {% endif %}

            <section class="section">
                <div class="w-container">
                    <div>
                        <div class="line-con"></div>

                        <div class="w-slider carousel-ibox c-clients" data-animation="slide" data-duration="800"
                             data-infinite="1" data-ix="show-arrow" data-delay="6000" data-autoplay="1">
                            <div class="w-slider-mask">
                            {% for x in range(4) %}
                                <div class="w-slide w-clearfix">
                                    {% for b in bestseller[x] %}
                                        <form action="{{ url_for('search') }}" method="get" id="j-forms">
                                            <a class="w-inline-block client-wraper">
                                                <button type="submit" name="book_name"
                                                        value="{{ b.name }}"><img
                                                        src="{{ b.image }}"
                                                        alt="{{ b.name }}" width="200px"
                                                        height="300px"></button>
                                            </a>
                                        </form>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{%- endblock content %}