{% extends 'base.html' %}

{% block content -%}

  <div class="section-wrapper">
    <div class="move-wrapper">

{#    {% block nav_detail %}active{% endblock nav_detail%}#}
      <!-- start single blog page -->
      <section class="inner-banner" id="top">
          <div class="w-container fixed-container">

          <div class="algin-center">
            <h1 class="inner-sub" data-ix="move-3"><span class="domote">대중과 예술을 잇다</span></h1>
          <div class="div-spc spc">
              <h3><font color="#176BEF">G</font><font color="#FF3E30">O</font><font color="#176BEF">G</font><font color="#F7B529">O</font> <font color="#179C52">L</font>ovely <font color="#FF3E30">E</font>xhibition</h3>
          </div>
          </div>
        </div>
      </section>
      <section>
          <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <h2 class="w3-wide"> <img src="/static/images/gogole.png" width="300px"> </h2>

        <h3 class="w3-wide"><font color="#176BEF">G</font><font color="#FF3E30">O</font><font color="#176BEF">G</font><font color="#F7B529">O</font> <font color="#179C52">L</font>ovely <font color="#FF3E30">E</font>xhibition</h3>
        <p class="w3-opacity"><i>대중과 예술을 잇다</i><br><br></p>

        <p class="w3-justify">
            팝 아트를 하는 사람, 유화를 그리는 사람, 사진전을 여는 사람 ... 우리 주변에는 예술 작품을 창조하며 다양한 세상을 만들어 가는 아티스트들이 있죠? 그러나 우리는 DDP의 스미스소니언 사진전, 국립현대미술관의 반고흐 특별전 같은 1%의 예술만 접하게 됩니다. 이렇게 대중예술만으로 돌아갈 때, 우리 세상은 더욱 획일화 될 것입니다. <br><br></p>
        <p class="w3-justify">
            한편 우리나라 미술 시장의 경우 연간 4만 5000여 명의 신진 아티스트들이 탄생하지만, 이들이 갈 수 있는 자리는 250개 정도에 불과합니다. 무명 아티스트들은 끊임없이 대중과 마주할 자리가 있어야 창작 활동이 지속될 수 있지만, 대부분의 대중들은 예술에 대한 지식이 많지 않아 어떤 아티스트의 어떤 전시를 향유해야 하는지 쉽게 알 수 없습니다. <br><br></p>
        <p class="w3-justify">
        <font color="#176BEF">G</font><font color="#FF3E30">o</font><font color="#176BEF">g</font><font color="#F7B529">o</font><font color="#179C52">l</font><font color="#FF3E30">e</font>은 예술을 잘 알지 못하는 99%의 일반 대중이 특별한 예술 지식 없이도 대중예술 너머에 있는 99%의 전시와 아티스트들을 쉽게 만날 수 있도록 합니다. <font color="#176BEF">G</font><font color="#FF3E30">o</font><font color="#176BEF">g</font><font color="#F7B529">o</font><font color="#179C52">l</font><font color="#FF3E30">e</font>과 함께 더욱 풍부한 전시를 경험하고 다양한 아티스트를 만나보세요! 세상은 더욱 크리에이티브해질 것입니다.</p>

        </div>
      </section>


        <section class="section" style="padding-top:0px; padding-bottom : 250px;">
        <div class="w-container">

        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px;" id="band">
            <div class="w-container">
                <h2><font color="#176BEF">G</font><font color="#FF3E30">o</font><font color="#176BEF">g</font><font color="#F7B529">o</font><font color="#179C52">l</font><font color="#FF3E30">e</font> Service Tutorial</h2>
                <div class="line-con"></div>
            </div>
        </div>


         <div class="w-tabs" data-duration-in="300" data-duration-out="100">
              <div class="w-tab-menu tab-menu">
                <a class="w-tab-link w--current w-inline-block tab-v tab-v2" data-w-tab="Tab 1">
                  <div class="tab-text">도서 기반 검색</div>
                </a>
                <a class="w-tab-link w-clearfix w-inline-block tab-v tab-v2" data-w-tab="Tab 2">
                  <div>명화 기반 검색</div>
                </a>
              </div>
              <div class="w-tab-content tab-con con-v">
                <div class="w-tab-pane w--tab-active" data-w-tab="Tab 1">
                  <div>
                    <div class="w-row">
                      <div class="w-col w-col-5 w-clearfix div-spc">
                        <div class="mix mix-3 remove-mx">


                            <div class="w-slider carousel-ibox" data-animation="cross" data-duration="500" data-infinite="1">
                                <div class="w-slider-mask">
                                  <div class="w-slide">
                                    <div class="test-wrapper">
                                        <div class="img-wrapper"><img src="/static/images/gogole_book_main.png" width="100%" alt="gogole_book_main.png">
                                        </div>
                                        <h4>검색 전</h4>
                                    </div>
                                  </div>
                                  <div class="w-slide">
                                    <div class="test-wrapper">
                                        <div class="img-wrapper"><img src="/static/images/gogole_book_detail.png" width="100%" alt="gogole_book_detail.png">
                                        </div>
                                        <h4>검색 후</h4>
                                    </div>
                                  </div>

                                </div>
                                <div class="w-slider-nav w-slider-nav-invert w-round crs-dot"></div>
                              </div>




                        </div>
                      </div>
                      <div class="w-col w-col-7">
                        <h4 class="tab-h">도서 기반 검색</h4>
                        <p><font color="#176BEF">G</font><font color="#FF3E30">o</font><font color="#176BEF">g</font><font color="#F7B529">o</font><font color="#179C52">l</font><font color="#FF3E30">e</font>이 보유한 10,000여 권의 소설 중 감명 깊게 읽었던 소설을 검색해보세요. 검색한 도서에서 중요하게 다루어지는 단어로 워드클라우드를 만들 수 있습니다. <br><br>해당 도서의 키워드와 유사한 전시를 찾아보세요.</p>
                        <div class="btn-spc"><a class="button btn-color btn-small" href="/">서비스 이용하기</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-tab-pane" data-w-tab="Tab 2">
                  <div>
                    <div class="w-row">
                      <div class="w-col w-col-5 w-clearfix div-spc">
                        <div class="mix mix-3 remove-mx">
                          <div class="img-wrapper"><img src="/static/images/gogole_art_main.png" width="100%"  alt="gogole_book_main.png">
                          </div>
                        </div>
                      </div>
                      <div class="w-col w-col-7">
                        <h4 class="tab-h">명화 기반 검색</h4>
                        <p><font color="#176BEF">G</font><font color="#FF3E30">o</font><font color="#176BEF">g</font><font color="#F7B529">o</font><font color="#179C52">l</font><font color="#FF3E30">e</font>이 보여주는 랜덤하게 보여주는 명화 중 마음에 드는 작품을 골라보세요. 취향에 따라 선택된 명화는 <font color="#176BEF">G</font><font color="#FF3E30">o</font><font color="#176BEF">g</font><font color="#F7B529">o</font><font color="#179C52">l</font><font color="#FF3E30">e</font>이 유사 전시 및 아티스트를 찾아주는 알고리즘에 활용됩니다. <br><br>해당 명화의 설명과 유사한 전시를 찾아보세요.</p>
                        <div class="btn-spc"><a class="button btn-color btn-small" href="/index_art">서비스 이용하기</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


        </div>


        </div>
      </section>


    </div>
  </div><!-- end single blog page -->
{%- endblock content %}