<!-- preloader -->
  <div class="loading">
    <div class="loader">
        <img src="{{ url_for('static', filename = 'images/puff.svg') }}" alt="puff.svg">
    </div>
  </div>

    <!-- start navigation -->
  <div class="w-hidden-medium w-hidden-small w-hidden-tiny left-navigation" data-ix="hover-out">
    <div class="hamburger" data-ix="hover">
      <div class="ham2">
        <div class="line-1"></div>
        <div class="line-3" data-ix="90-grade"></div><!-- plus to x interaction -->
      </div>
    </div>
    <nav class="menu-wrapper">
      <a class="w-inline-block brand" href="{{ url_for('index') }}" data-ix="move">
          <img src="{{ url_for('static', filename = 'images/logo4-1.png') }}" width="120" height="120" alt="logo4-1.png"><!-- logo goes here -->
      </a>
      <div class="navigation" data-ix="move-2">
        <ul class="w-list-unstyled">
            <div class="line"></div>
          <li class="li-nav">
                <a class="nav-link {% if active=='intro' %}active{% endif %}" href="{{ url_for('intro') }}">서비스 소개</a>
                <div class="sub-nav">Intro</div>
          </li>
            <div class="line"></div>
          <li class="li-nav">
                <a class="nav-link {% if active=='search' %}active{% endif %}" href="{{ url_for('search') }}">시작하기</a>
                <div class="sub-nav">Let's get started !</div>
          </li>
            <div class="line"></div>
          <li class="li-nav">
              <a class="nav-link {% if active=='aboutUs' %}active{% endif %}" href="{{ url_for('aboutUs') }}">만든이</a>
                <div class="sub-nav">About Us</div>
          </li>
            <div class="line"></div>
          <li class="li-nav">
              <a class="nav-link {% if active=='skills' %}active{% endif %}" href="{{ url_for('skills') }}">스킬</a>
              <div class="sub-nav">skills</div>
          </li>
        </ul>
      </div>
      <div class="social-ico" data-ix="move">
        <div class="copyright">
          <div class="copyright-text">ⓒ 2018 Gogole by All Rights Reserved.</div>
        </div>
      </div>
    </nav><!-- end navigation -->
  </div>