{% extends 'base.html' %}

{% block content -%}
  <div class="section-wrapper">
    <div class="move-wrapper">
    
      <!-- start service page -->
      <section class="inner-banner" id="top">
        <div class="w-container fixed-container">
          <div class="algin-center">
            <h1 class="inner-sub" data-ix="move-3"><span class="domote">Flying.</span>&nbsp;Services</h1>
            <div class="tst-txt tst-ban" data-ix="move-3">We design awesome things.</div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-9 w-col-stack div-spc">
              <div class="w-row">
                <div class="w-col w-col-4 w-clearfix div-spc">
                  <div class="ibox-flo">
                    <a class="w-inline-block circle-iconbox" href="#">
                      <i class="fa fa-paint-brush fa-2x"></i>
                    </a>
                  </div>
                  <div class="lefttext-icobox">
                    <h4 class="icobox-tittle">User Experience</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                  </div>
                </div>
                <div class="w-col w-col-4 w-clearfix div-spc">
                  <div class="ibox-flo">
                    <a class="w-inline-block circle-iconbox" href="#">
                      <i class="fa fa-flask fa-2x"></i>
                    </a>
                  </div>
                  <div class="lefttext-icobox">
                    <h4 class="icobox-tittle">Technology</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                  </div>
                </div>
                <div class="w-col w-col-4 w-clearfix">
                  <div class="ibox-flo">
                    <a class="w-inline-block circle-iconbox" href="#">
                      <i class="fa fa-magic fa-2x"></i>
                    </a>
                  </div>
                  <div class="lefttext-icobox">
                    <h4 class="icobox-tittle">Graphic Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                  </div>
                </div>
              </div>
              <div class="w-row row-space">
                <div class="w-col w-col-4 w-clearfix div-spc">
                  <div class="ibox-flo">
                    <a class="w-inline-block circle-iconbox" href="#">
                      <i class="fa fa-leaf fa-2x"></i>
                    </a>
                  </div>
                  <div class="lefttext-icobox">
                    <h4 class="icobox-tittle">Pixel Perfect Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                  </div>
                </div>
                <div class="w-col w-col-4 w-clearfix div-spc">
                  <div class="ibox-flo">
                    <a class="w-inline-block circle-iconbox" href="#">
                      <i class="fa fa-eye fa-2x"></i>
                    </a>
                  </div>
                  <div class="lefttext-icobox">
                    <h4 class="icobox-tittle">Retina Ready</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                  </div>
                </div>
                <div class="w-col w-col-4 w-clearfix">
                  <div class="ibox-flo">
                    <a class="w-inline-block circle-iconbox" href="#">
                      <i class="fa fa-rocket fa-2x"></i>
                    </a>
                  </div>
                  <div class="lefttext-icobox">
                    <h4 class="icobox-tittle">Loaded With Power</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-col w-col-3 w-col-stack">
              <div>
                <h4>What we do</h4>
                <div class="line-con ln-p"></div>
              </div>
              <p>Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <div class="btn-spc"><a class="button btn-small" href="#">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section s-gray">
        <div class="w-container">
          <div class="w-row coun-wrapper">
            <div class="w-col w-col-3 div-spc">
              <div class="con-ico">
                <i class="fa fa-users fa-4x"></i>
              </div>
              <h1>1567</h1>
              <p>Client Served</p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="con-ico">
                <i class="fa fa-code fa-4x"></i>
              </div>
              <h1>96842</h1>
              <p>Lines of Code</p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="con-ico">
                <i class="fa fa-briefcase fa-4x"></i>
              </div>
              <h1>3164</h1>
              <p>No. of Projects</p>
            </div>
            <div class="w-col w-col-3">
              <div class="con-ico">
                <i class="fa fa-coffee fa-4x"></i>
              </div>
              <h1>674</h1>
              <p>Cups of Coffee</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-container">
          <div class="call-to-action cta-main">
            <div class="w-container">
              <div class="w-row">
                <div class="w-col w-col-9 col-center c-c">
                  <div class="cta-txt">Love many things, for therein lies the true strength, and whosoever loves much?</div>
                </div>
                <div class="w-col w-col-3 cnt-col"><a class="button btn-small btn-white" href="#">check it out</a>
                </div>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Our Lovely Clients</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-slider carousel-ibox c-clients" data-animation="slide" data-duration="800" data-infinite="1" data-ix="show-arrow" data-delay="6000" data-autoplay="1">
            <div class="w-slider-mask">
              <div class="w-slide w-clearfix">
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/buddy.png') }}" alt="buddy.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/barq.png') }}" alt="barq.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/tex.png') }}" alt="tex.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/marketi.png') }}" alt="marketi.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/mohula.png') }}" alt="mohula.png">
                </a>
              </div>
              <div class="w-slide w-clearfix">
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/apps.png') }}" alt="apps.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/smack.png') }}" alt="smack.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/tex.png') }}" alt="tex.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/mohula.png') }}" alt="mohula.png">
                </a>
                <a class="w-inline-block client-wraper" href="#">
                    <img src="{{ url_for('static', filename = 'images/barq.png') }}" alt="barq.png">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div><!-- end service page -->
{%- endblock content %}