{% extends 'base.html' %}
{% block content -%}
  <div class="section-wrapper">
    <div class="move-wrapper">

      <!-- start about page -->
      <section class="inner-banner" id="top">
        <div class="w-container fixed-container">
          <div class="algin-center">
            <h1 class="inner-sub" data-ix="move-3"><span class="domote">Gogole.</span>&nbsp;Skills</h1>
            <div class="tst-txt tst-ban" data-ix="move-3">About our skills.</div>
          </div>
        </div>
     </section>

      <section class="section">
        <div class="w-container">
            <h4>Counters</h4>
            <div class="line-con"></div>
        </div>
          <div class="w-row coun-wrapper">
            <div class="w-col w-col-3 div-spc">
              <div class="con-ico">
                <i class="fa fa-users fa-4x"></i>
              </div>
              <h1>28071</h1>
              <p>Artists Infos</p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="con-ico">
                <i class="fa fa-code fa-4x"></i>
              </div>
              <h1>4800</h1>
              <p>Lines of Code</p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="con-ico">
                <i class="fa fa-briefcase fa-4x"></i>
              </div>
              <h1>10</h1>
              <p>No. of WorkingDays</p>
            </div>
            <div class="w-col w-col-3">
              <div class="con-ico">
                <i class="fa fa-coffee fa-4x"></i>
              </div>
              <h1>108</h1>
              <p>Cups of Coffee</p>
            </div>
          </div>
      </section>


      <section >
        <div class="w-container">
          <div class="w-row">
            <div class="w-col w-col-7 w-col-stack div-spc">
              <div>
                  <img src="{{ url_for('static', filename = 'images/artcloud.png') }}" alt="artcloud.png" style="height:500px; width:600px">
              </div>
            </div>
            <div class="w-col w-col-5 w-col-stack">
              <div>
                <h4>Degree of Completion</h4>
                <div class="line-con ln-p"></div>
              </div>
              <p class="w-clearfix"><span class="dropcast">텍</span>스트와 전시 예술을 연결짓기 위해 데이터를 수집하였습니다. 전시와 아티스트 정보를 아트허브(https://www.arthub.co.kr/)의 아카이브에서 가져왔고, 네이버 미술백과, 반디앤루니스 책소개 등의 데이터를 수집했습니다. </p>
              <ul class="w-list-unstyled ul-sp">
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">주제 선정<span class="pbar-percent">75%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay" data-ix="progress-bar"></div>
                  </div>
                </li>
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">데이터 수집, 전처리<span class="pbar-percent">85%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay-2" data-ix="progress-bar-2"></div>
                  </div>
                </li>
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">모델링<span class="pbar-percent">60%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay-3" data-ix="progress-bar-3"></div>
                  </div>
                </li>
                <li class="li-progres">
                  <div class="w-clearfix pbar-text">웹 개발<span class="pbar-percent">80%</span>
                  </div>
                  <div class="pbar">
                    <div class="pbar-overlay-4"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="section s-gray">
        <div class="w-container">
          <div>
            <h4>Work Process</h4>
            <div class="line-con ln-gray"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-3 div-spc">
              <div class="process-ico">
                <i class="fa fa-search fa-3x"></i>
              </div>
              <div class="step-sub-t">Step 1</div>
              <h4 class="icobox-tittle">데이터 수집</h4>
              <p>비주얼 아트 플랫폼 ARTHUB에서 약 2만여개의 전시 아카이브 수집</p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="process-ico">
                <i class="fa fa-magic fa-3x"></i>
              </div>
              <div class="step-sub-t">Step 2</div>
              <h4 class="icobox-tittle">데이터 전처리</h4>
              <p>중복된 데이터를 제거하고 텍스트에 토크나이징, pos 태깅, TF-IDF를 이용한 불용어 처리 등 수행 </p>
            </div>
            <div class="w-col w-col-3 div-spc">
              <div class="process-ico">
                <i class="fa fa-paint-brush fa-3x"></i>
              </div>
              <div class="step-sub-t">Step 3</div>
              <h4 class="icobox-tittle">분산 표상 모델</h4>
              <p>PV-DM(Doc2Vec) 모델로 도출된 결과에 Latent Dirichlet Allocation(LDA)을 이용해 가중치를 부여</p>
            </div>
            <div class="w-col w-col-3">
              <div class="process-ico">
                <i class="fa fa-thumbs-o-up fa-3x"></i>
              </div>
              <div class="step-sub-t">Step 4</div>
              <h4 class="icobox-tittle">유사 전시 추천</h4>
              <p>주어진 텍스트(명화 혹은 도서)에 대하여 유사한 전시와 아티스트 정보를 제공</p>
            </div>
          </div>
        </div>
      </section>

      <section class="section s-gray s-padd">
        <div class="w-container">
          <div class="w-slider carousel-ibox" data-animation="cross" data-duration="500" data-infinite="1">
            <div class="w-slider-mask">
              <div class="w-slide">
                <div class="test-wrapper">
                  <div class="tst-ico">
                    <i class="fa fa-comment fa-3x"></i>
                  </div>
                  <div class="tst-txt">TF-IDF는 문서내 특정 단어에 가중치를 부여합니다. 이 가중치는 해당 문서에 많이, 다른 문서에 적게 출현할수록 높아집니다. 우리 모델은 TF-IDF를 불용어처리에 이용하여 가중치가 낮은 단어를 제외하였습니다. </div>
                  <h4>TF-IDF</h4>
                </div>
              </div>
              <div class="w-slide">
                <div class="test-wrapper">
                  <div class="tst-ico">
                    <i class="fa fa-comment fa-3x"></i>
                  </div>
                  <div class="tst-txt">LDA는 확률에 기반하여 각 문서의 토픽을 추정합니다. 미리 알고 있는 토픽별 단어 분포를 바탕으로, 주어진 문서의 단어 분포를 분석함으로써 해당 문서가 어떤 주제들을 다루는지 예측합니다. 우리 모델은 유사도 도출을 위해 주어진 문서가 토픽에 속할 확률을 가중치로 사용하였습니다. </div>
                  <h4>Latent Dirichlet allocation(LDA)</h4>
                </div>
              </div>
              <div class="w-slide">
                <div class="test-wrapper">
                  <div class="tst-ico">
                    <i class="fa fa-comment fa-3x"></i>
                  </div>
                  <div class="tst-txt">Word Embedding의 대표격인 Word2Vec은 단어의 의미를 dense한 벡터로 표현합니다. 벡터화로 인해 단어간의 합, 차, 그리고 유사도 등을 구하는 연산이 가능해집니다.</div>
                  <h4>Word Embedding</h4>
                </div>
              </div>
              <div class="w-slide">
                <div class="test-wrapper">
                  <div class="tst-ico">
                    <i class="fa fa-comment fa-3x"></i>
                  </div>
                  <div class="tst-txt">PV-DM은 Word Embedding시에 문서의 id 벡터까지 함께 학습합니다. 결과적으로 문서의 의미를 임베딩한 벡터가 함께 저장되어 이를 기준으로 다른 문서와의 유사도를 도출할 수 있습니다. 우리모델은 PV_DM의 유사도를 LDA의 확률 기반 가중치로 조정하여 최종적인 유사도를 도출하였습니다. </div>
                  <h4>PV-DM</h4>
                </div>
              </div>
            </div>
            <div class="w-slider-nav w-slider-nav-invert w-round crs-dot"></div>
          </div>
        </div>
      </section>
    </div>
  </div><!-- end about page -->
{%- endblock content %}