{% extends 'base.html' %}

{% block content -%}
  <div class="section-wrapper">
    <div class="move-wrapper">

      <!-- start typography page -->
      <section class="inner-banner" id="top">
        <div class="w-container fixed-container">
          <div class="algin-center">
            <h1 class="inner-sub" data-ix="move-3"><span class="domote">Flying.</span> Typography&nbsp;<span class="and">&amp;</span> Columns</h1>
            <div class="tst-txt tst-ban" data-ix="move-3">Well crafted elements</div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="w-container">
          <div>
            <h4>Columns</h4>
            <div class="line-con"></div>
          </div>
          <div class="div-spc">
            <h4><span class="gray">IV&nbsp;COLUMN LAYOUT</span></h4>
            <div class="w-row">
              <div class="w-col w-col-3 div-spc">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
              </div>
              <div class="w-col w-col-3 div-spc">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
              </div>
              <div class="w-col w-col-3 div-spc">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
              </div>
              <div class="w-col w-col-3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
              </div>
            </div>
          </div>
          <div class="div-spc">
            <h4><span class="gray">III&nbsp;COLUMN LAYOUT</span></h4>
            <div class="w-row">
              <div class="w-col w-col-4 div-spc">
                <p>Vivamus laoreet. Maecenas nec odio et ante tincidunt tempus. Morbi vestibulum volutpat enim. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis.</p>
              </div>
              <div class="w-col w-col-4 div-spc">
                <p>Vivamus laoreet. Maecenas nec odio et ante tincidunt tempus. Morbi vestibulum volutpat enim. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis.</p>
              </div>
              <div class="w-col w-col-4">
                <p>Vivamus laoreet. Maecenas nec odio et ante tincidunt tempus. Morbi vestibulum volutpat enim. Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis.</p>
              </div>
            </div>
          </div>
          <div class="div-spc">
            <h4><span class="gray">II&nbsp;COLUMN LAYOUT</span></h4>
            <div class="w-row">
              <div class="w-col w-col-6 div-spc">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
            </div>
          </div>
          <div class="div-spc">
            <h4><span class="gray">I&nbsp;THIRD /&nbsp;II&nbsp;THIRDS LAYOUT</span></h4>
            <div class="w-row">
              <div class="w-col w-col-4 div-spc">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
              <div class="w-col w-col-8">
                <p>Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Quisque malesuada placerat nisl.</p>
              </div>
            </div>
          </div>
          <div class="div-spc">
            <h4><span class="gray">III&nbsp;FOURTHS /&nbsp;I&nbsp;FOURTH LAYOUT</span></h4>
            <div class="w-row">
              <div class="w-col w-col-9 div-spc">
                <p>Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Quisque malesuada placerat nisl.</p>
              </div>
              <div class="w-col w-col-3">
                <p>Mauris ut lacus. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Quisque malesuada placerat nisl.</p>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Headings</h4>
            <div class="line-con"></div>
          </div>
          <div class="div-spc">
            <h1>Heading 1</h1>
            <div class="w-row">
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
            </div>
          </div>
          <div class="div-spc">
            <h2>Heading 2</h2>
            <div class="w-row">
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
            </div>
          </div>
          <div class="div-spc">
            <h3>Heading 3</h3>
            <div class="w-row">
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
            </div>
          </div>
          <div class="div-spc">
            <h4>Heading 4</h4>
            <div class="w-row">
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
            </div>
          </div>
          <div class="div-spc">
            <h5>Heading 5</h5>
            <div class="w-row">
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
            </div>
          </div>
          <div class="div-spc">
            <h6>Heading 6</h6>
            <div class="w-row">
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
              <div class="w-col w-col-6">
                <p>Donec interdum, metus et hendrerit aliquet, dolor diam sagittis ligula, eget egestas libero turpis vel mi. Suspendisse potenti. Etiam vitae tortor. Ut id nisl quis enim dignissim sagittis. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
              </div>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Dropcast</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4 cln div-spc">
              <p class="w-clearfix"><span class="dropcast">D</span>fusce fermentum odio nec arcu. Nam pretium turpis et arcu. Fusce fermentum. Praesent venenatis metus at tortor pulvinar varius. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl.</p>
            </div>
            <div class="w-col w-col-4 cln div-spc">
              <p class="w-clearfix"><span class="dropcast drp-circle">E</span>fusce fermentum odio nec arcu. Nam pretium turpis et arcu. Fusce fermentum. Praesent venenatis metus at tortor pulvinar varius. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl.</p>
            </div>
            <div class="w-col w-col-4 cln">
              <p class="w-clearfix"><span class="dropcast drp-ncolor">V</span>fusce fermentum odio nec arcu. Nam pretium turpis et arcu. Fusce fermentum. Praesent venenatis metus at tortor pulvinar varius. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl.</p>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Highlights</h4>
            <div class="line-con"></div>
          </div>
          <p><span class="highlights">Nullam</span> nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Phasellus tempus. Pellentesque egestas, neque sit amet convallis pulvinar, justo nulla eleifend augue, ac auctor orci leo non est. Vivamus euismod mauris. Suspendisse <span class="highlights">non nisl sit amet velit hendrerit rutrum.</span>
            <br>
            <br>Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Praesent turpis. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Cras risus ipsum, <span class="highlights hl-dark">faucibus ut, ullamcorper</span> id, varius ac, leo. Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede.
            <br>
            <br>Sed consequat, leo eget <span class="highlights hi-gray">bibendum sodales, augue velit cursus nunc, quis gravida magna</span> mi a libero. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Sed cursus turpis vitae tortor. Mauris turpis nunc, blandit et, volutpat molestie, porta ut, ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          <div class="mrg-top">
            <h4>Lists</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4 div-spc">
              <ul>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
              </ul>
            </div>
            <div class="w-col w-col-4 div-spc">
              <ol>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="u-li">
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
              </ol>
            </div>
            <div class="w-col w-col-4">
              <ol class="w-list-unstyled">
                <li class="w-clearfix u-li">
                  <div class="li-ico">
                    <i class="fa fa-arrows"></i>
                  </div>
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="w-clearfix u-li">
                  <div class="li-ico">
                    <i class="fa fa-bug"></i>
                  </div>
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="w-clearfix u-li">
                  <div class="li-ico">
                    <i class="fa fa-bus"></i>
                  </div>
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="w-clearfix u-li">
                  <div class="li-ico">
                    <i class="fa fa-book"></i>
                  </div>
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
                <li class="w-clearfix u-li">
                  <div class="li-ico">
                    <i class="fa fa-child"></i>
                  </div>
                  <p>Lorem ipsum dolor sit amet,</p>
                </li>
              </ol>
            </div>
          </div>
          <div class="mrg-top">
            <h4>Blockqoute</h4>
            <div class="line-con"></div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-7 div-spc">
              <blockquote class="qoute">
                <div class="q-txt">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. In ac dui quis mi consectetuer lacinia. Nulla sit amet est.</div>
              </blockquote>
            </div>
            <div class="w-col w-col-5">
              <blockquote class="qoute q-white">
                <div class="q-txt">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. In ac dui quis mi consectetuer lacinia. Nulla sit amet est.</div>
              </blockquote>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div><!-- end typography page -->
{%- endblock content %}